/* Body */
body {
    font-family: 'Roboto';
    margin: 0px;
    padding: 0px;
    background-image: url(../../Img/Fondo/Fondo_Principal.png);
    background-repeat: repeat;
    overflow-x: hidden;
}

/*Header*/
header {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: transparent;
    z-index: 100;
}

.Barra_De_Navegacion {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    margin: 0px;
    padding: 0px;
    background-color: #000000;
}

.Salmon_Run_Next_Wave {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 30%;
    height: 100%;
    padding: 0px;
    margin: 0px 20px;
}

.Logo_Don_Oso_SAS {
    width: 60px;
    margin-right: 20px;
    cursor: pointer;
}

.Salmon_Run {
    font-family: 'Bebas Neue';
    color: #ff5033;
    font-size: 30px;
    cursor: pointer;
}

.Menu_De_Navegacion {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 90%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#Menu {
    display: flex;
    align-items: center;
    height: 100%;
}

.Seccion {
    display: flex;
    margin-right: 20px;
    height: 35px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.Seccion a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    align-items: center;
    transition: color 0.3s;
}

.Seccion.Activo::after {
    height: 4px;
}

.Seccion.Activo a {
    color: #ff5033;
}

.Seccion:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0px;
    border-radius: 4px;
    background-color: #ff5033;
    transition: height 0.3s;
}

.Seccion:hover::after {
    height: 4px;
}

.Seccion:hover a {
    color: #ff5033;
}

.Decoracion_Barra_De_Navegacion {
    display: flex;
    width: 100%;
    height: 89.9px;
    margin: 0px;
    padding: 0px;
    background-image: url(../../Img/Fondo/Linea_Mancha.png);
    background-repeat: repeat-x;
}

/*Main*/
.main {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
}

/*Seccion Titulo*/
.Titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 350px;
    margin: 0px;
    padding: 0px;
    background-image: url(../../Img/Fondo/Fondo_Estilizado.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px -100px;
    position: relative;
}

.Division_01 {
    display: flex;
    width: 100%;
    height: 150px;
    margin: 0px;
    padding: 0px;
}

.Division_02 {
    display: flex;
    width: 100%;
    height: 175px;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
}

.Titulo_Fondo_Foto_01 {
    display: flex;
    position: absolute;
    width: 600px;
    margin-top: 350px;
    margin-right: 1000px;
    transform: rotate(2deg);
    z-index: 0;
}

.Titulo_Foto_01 {
    display: flex;
    position: absolute;
    width: 580px;
    margin-top: 350px;
    margin-right: 1000px;
    transform: rotate(2deg);
    z-index: 0;
}

.Titulo_Fondo_Foto_02 {
    display: flex;
    position: absolute;
    width: 500px;
    margin-bottom: 300px;
    margin-left: 1400px;
    transform: rotate(-3deg);
    z-index: 0;
}

.Titulo_Foto_02 {
    display: flex;
    position: absolute;
    width: 480px;
    margin-bottom: 300px;
    margin-left: 1400px;
    transform: rotate(-3deg);
    z-index: 0;
}

.Titulo_Fondo_Foto_03 {
    display: flex;
    position: absolute;
    width: 550px;
    margin-top: 200px;
    margin-left: 1600px;
    transform: rotate(1deg);
    z-index: 0;
}

.Titulo_Foto_03 {
    display: flex;
    position: absolute;
    width: 530px;
    margin-top: 200px;
    margin-left: 1600px;
    transform: rotate(1deg);
    z-index: 0;
}

.Division_03 {
    display: flex;
    width: 100%;
    height: 125px;
    margin: 0px;
    padding: 0px;
    justify-content: end;
    align-items: end;
}

.Linea_Seccion_01 {
    display: flex;
    width: 100%;
    height: auto;
    z-index: 1;
}

.Titulo_Cinta_De_Seguridad_01 {
    position: absolute;
    margin-top: 270px;
    margin-left: 300px;
    width: 1300px;
    z-index: 0;
}

.Titulo_Cinta_De_Seguridad_02 {
    position: absolute;
    margin-top: 270px;
    margin-right: 750px;
    width: 1500px;
    transform: rotate(-6deg);
    z-index: 0;
}

.Titulo_Cinta_De_Seguridad_03 {
    position: absolute;
    margin-bottom: 280px;
    margin-right: 750px;
    width: 1400px;
    z-index: 0;
}

/*Seccion 1*/
.Seccion_01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 520px;
    margin: 0px;
    padding: 0px;
    background-color: #000000;
    position: relative;
    padding-bottom: 60px;
}

.Fenomenos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    text-align: left;
    width: 50%;
    margin: 0px;
    padding: 0px;
    z-index: 2;
}

.Seccion_Titulo {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
}

.Titulo_General_Negro {
    font-family: 'Bebas Neue';
    font-weight: bold;
    color: #000000;
    font-size: 25px;
    padding: 0px 10px;
}

.Titulo_General_Blanco {
    font-family: 'Bebas Neue';
    font-weight: bold;
    color: #ffffff;
    font-size: 25px;
    padding: 0px 10px;
}

.Seccion_Negro_Division {
    width: 98.8%;
    height: 5px;
    border-radius: 2px;
    background-color: #000000;
}

.Seccion_Blanco_Division {
    width: 98.8%;
    height: 5px;
    border-radius: 2px;
    background-color: #ffffff;
}

.Seccion_Negro_Descripcion {
    display: flex;
    flex-direction: column;
    width: 99%;
    padding: 20px 10px;
    font-family: 'Roboto';
    font-weight: 500;
    color: #000000;
    font-size: 20px;
}

.Seccion_Blanco_Descripcion {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 50px;
    font-family: 'Roboto';
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
}

.Papel {
    display: flex;
    position: absolute;
    width: 100%;
    margin-top: 20px;
    height: auto;
    z-index: 1;
}

.Linea_Seccion_02 {
    display: flex;
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 518px;
    z-index: 5;
}

.Seccion_01_Fondo_Foto_01 {
    position: absolute;
    width: 700px;
    margin-right: 1700px;
    transform: rotate(-5deg);
    z-index: 7;
}

.Seccion_01_Foto_01 {
    position: absolute;
    width: 680px;
    margin-right: 1700px;
    transform: rotate(-5deg);
    z-index: 7;
}

.Seccion_01_Fondo_Foto_02 {
    position: absolute;
    width: 600px;
    margin-top: 500px;
    margin-right: 1800px;
    transform: rotate(10deg);
    z-index: 6;
}

.Seccion_01_Foto_02 {
    position: absolute;
    width: 580px;
    margin-top: 500px;
    margin-right: 1800px;
    transform: rotate(10deg);
    z-index: 6;
}

.Seccion_01_Fondo_Foto_03 {
    position: absolute;
    width: 750px;
    margin-top: 1300px;
    margin-right: 1750px;
    z-index: 7;
}

.Seccion_01_Foto_03 {
    position: absolute;
    width: 730px;
    margin-top: 1300px;
    margin-right: 1750px;
    z-index: 7;
}

.Seccion_01_Fondo_Foto_04 {
    position: absolute;
    width: 750px;
    margin-top: 200px;
    margin-left: 1650px;
    transform: rotate(3deg);
    z-index: 5;
}

.Seccion_01_Foto_04 {
    position: absolute;
    width: 730px;
    margin-top: 200px;
    margin-left: 1650px;
    transform: rotate(3deg);
    z-index: 5;
}

.Seccion_01_Fondo_Foto_05 {
    position: absolute;
    width: 800px;
    margin-top: 1100px;
    margin-left: 1800px;
    transform: rotate(-5deg);
    z-index: 6;
}

.Seccion_01_Foto_05 {
    position: absolute;
    width: 780px;
    margin-top: 1100px;
    margin-left: 1800px;
    transform: rotate(-5deg);
    z-index: 6;
}

.Seccion_01_Cinta_De_Seguridad_01 {
    position: absolute;
    margin-top: 530px;
    width: 1500px;
    margin-left: 100px;
    transform: rotate(1deg);
    z-index: 5;
}

.Seccion_01_Cinta_De_Seguridad_02 {
    position: absolute;
    margin-top: 420px;
    width: 1600px;
    transform: rotate(-8deg);
    z-index: 3;
}

.Seccion_01_Mancha_Pintura_01 {
    position: absolute;
    width: 600px;
    margin-top: 100px;
    margin-right: 1100px;
    z-index: 1;
}

.Seccion_01_Mancha_Pintura_02 {
    position: absolute;
    width: 400px;
    margin-bottom: 150px;
    margin-left: 900px;
    z-index: 1;
}

/*Seccion 2*/
.Seccion_02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-image: url(../../Img/Fondo/Fondo_Inkling_Octoling.jpg);
    background-size: 7.223%;
    background-repeat: repeat;
}

.Division_Inforcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    text-align: left;
    width: 60%;
    margin: 0px;
    padding: 20px;
    border-radius: 20px;
    z-index: 2;
    background-color: #000000;
}

.Salmonido {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
}

.Salmonido_Foto {
    position: absolute;
    width: 286px;
    height: 246px;
}

.Salmonido_Fondo {
    position: absolute;
    width: 296px;
    height: 256px;
}

.Texto_Informacion {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.Subtitulo {
    margin: 10px;
    padding: 0px 10px;
    font-family: 'Bebas Neue';
    color: #ffffff;
    font-size: 25px;
    list-style-type: none;
}

.Subtitulo li::before {
    content: " ▪ ";
    font-family: 'Bebas Neue';
    font-weight: bold;
    color: #ffffff;
    font-size: 25px;
    padding-right: 10px;
}

.Subpunto {
    font-family: 'Roboto';
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    padding: 5px 0px;
    margin: 0px;
    list-style-type: none;
}

.Subpunto li {
    padding-bottom: 10px;
    padding-left: 25px;
}

.Subpunto li::before {
    content: " - ";
    font-family: 'Bebas Neue';
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    padding-right: 10px;
}

.Linea_Seccion_03 {
    width: 100%;
    height: auto;
}

.Seccion_02_Fondo_Foto_01 {
    position: absolute;
    width: 750px;
    margin-top: 500px;
    margin-right: 1850px;
    transform: rotate(3deg);
    z-index: 5;
}

.Seccion_02_Foto_01 {
    position: absolute;
    width: 730px;
    margin-top: 500px;
    margin-right: 1850px;
    transform: rotate(3deg);
    z-index: 5;
}

.Seccion_02_Fondo_Foto_02 {
    position: absolute;
    width: 800px;
    margin-top: 700px;
    margin-left: 2000px;
    z-index: 6;
}

.Seccion_02_Foto_02 {
    position: absolute;
    width: 780px;
    margin-top: 700px;
    margin-left: 2000px;
    z-index: 6;
}

.Seccion_02_Cinta_De_Seguridad_01 {
    position: absolute;
    margin-top: 700px;
    width: 1550px;
    z-index: 1;
}

.Seccion_02_Cinta_De_Seguridad_02 {
    position: absolute;
    margin-bottom: 200px;
    width: 1700px;
    z-index: 1;
}

/*Seccion 3*/
.Seccion_03 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #000000;
}

.Seccion_03_Division_01 {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    width: 70%;
}

.Seccion_03_Fondo_Foto_01 {
    position: absolute;
    width: 700px;
    margin-right: 2000px;
    transform: rotate(-1deg);
    z-index: 5;
}

.Seccion_03_Foto_01 {
    position: absolute;
    width: 680px;
    margin-right: 2000px;
    transform: rotate(-1deg);
    z-index: 5;
}

.Seccion_03_Fondo_Foto_02 {
    position: absolute;
    width: 800px;
    margin-top: 700px;
    margin-right: 1900px;
    transform: rotate(2deg);
    z-index: 3;
}

.Seccion_03_Foto_02 {
    position: absolute;
    width: 780px;
    margin-top: 700px;
    margin-right: 1900px;
    transform: rotate(2deg);
    z-index: 3;
}

.Seccion_03_Fondo_Foto_03 {
    position: absolute;
    width: 900px;
    margin-top: 600px;
    margin-left: 2100px;
    transform: rotate(2deg);
    z-index: 3;
}

.Seccion_03_Foto_03 {
    position: absolute;
    width: 880px;
    margin-top: 600px;
    margin-left: 2100px;
    transform: rotate(2deg);
    z-index: 3;
}

/*Seccion 4*/
.Seccion_04 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.Linea_Seccion_04_Superior {
    width: 100%;
    transform: rotate(180deg);
    height: auto;
}

.Linea_Seccion_04_Inferior {
    width: 100%;
    height: auto;
}

.Division_Vacia {
    display: flex;
    width: 20%;
}

.Division_Cinta {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.Cinta_Izquierda_01 {
    display: flex;
    width: 66.1px;
}

.Cinta_Derecha_01 {
    display: flex;
    width: 167.2px;
}

.Cinta_Negra {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 750px;
    padding: 10px 0px;
    background-color: #191919;
}

.Division_Cinta_Texto {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Seccion_04_Degradado_Superior {
    position: absolute;
    width: 100%;
    height: 500px;
    margin-bottom: 1500px;
    opacity: 0.5;
    transform: rotate(180deg);
    z-index: 1;
}

.Seccion_04_Degradado_Inferior {
    position: absolute;
    width: 100%;
    height: 500px;
    margin-top: 1500px;
    opacity: 0.5;
    z-index: 1;
}

.Seccion_04_Cinta_De_Seguridad_01 {
    position: absolute;
    margin-bottom: 1750px;
    margin-right: 800px;
    width: 1650px;
    transform: rotate(-15deg);
    z-index: -1;
}

.Seccion_04_Cinta_De_Seguridad_02 {
    position: absolute;
    margin-bottom: 1900px;
    margin-left: 400px;
    width: 1400px;
    transform: rotate(5deg);
    z-index: -1;
}

.Seccion_04_Cinta_De_Seguridad_03 {
    position: absolute;
    width: 1550px;
    margin-top: 1700px;
    transform: rotate(-8deg);
    z-index: -1;
}

.Seccion_04_Cinta_De_Seguridad_04 {
    position: absolute;
    width: 1550px;
    margin-bottom: 600px;
    z-index: -1;
}

.Seccion_04_Cinta_De_Seguridad_05 {
    position: absolute;
    width: 1550px;
    margin-top: 100px;
    z-index: -1;
}
.Seccion_04_Cinta_De_Seguridad_06 {
    position: absolute;
    width: 1550px;
    margin-top: 1800px;
    z-index: -1;
}

.Seccion_04_Mancha_Pintura_01 {
    position: absolute;
    width: 500px;
    margin-top: 1800px;
    margin-left: 1150px;
    transform: rotate(-70deg);
    z-index: -1;
}

.Seccion_04_Mancha_Pintura_02 {
    position: absolute;
    width: 700px;
    margin-bottom: 1650px;
    margin-right: 1200px;
    transform: rotate(60deg);
    z-index: -2;
}

.Seccion_04_Mancha_Pintura_03 {
    position: absolute;
    width: 100px;
    margin-bottom: 1750px;
    margin-right: 350px;
    z-index: -1;
}

.Seccion_04_Fondo_Foto_01 {
    position: absolute;
    width: 750px;
    margin-bottom: 1120px;
    margin-right: 2050px;
    z-index: 5;
}

.Seccion_04_Foto_01 {
    position: absolute;
    width: 730px;
    margin-bottom: 1120px;
    margin-right: 2050px;
    z-index: 5;
}

.Seccion_04_Fondo_Foto_02 {
    position: absolute;
    width: 800px;
    margin-bottom: 400px;
    margin-right: 1950px;
    transform: rotate(-3deg);
    z-index: 5;
}

.Seccion_04_Foto_02 {
    position: absolute;
    width: 780px;
    margin-bottom: 400px;
    margin-right: 1950px;
    transform: rotate(-3deg);
    z-index: 5;
}

.Seccion_04_Fondo_Foto_03 {
    position: absolute;
    width: 800px;
    margin-top: 500px;
    margin-left: 1950px;
    transform: rotate(1deg);
    z-index: 5;
}

.Seccion_04_Foto_03 {
    position: absolute;
    width: 780px;
    margin-top: 500px;
    margin-left: 1950px;
    transform: rotate(1deg);
    z-index: 5;
}

.Seccion_04_Fondo_Foto_04 {
    position: absolute;
    width: 750px;
    margin-top: 1650px;
    margin-left: 2050px;
    z-index: 5;
}

.Seccion_04_Foto_04 {
    position: absolute;
    width: 730px;
    margin-top: 1650px;
    margin-left: 2050px;
    z-index: 5;
}

/*Seccion 5*/
.Seccion_05 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #000000;
}

.Seccion_05_Division_01 {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    width: 70%;
}

.Seccion_05_Fondo_Foto_01 {
    position: absolute;
    width: 700px;
    margin-right: 2000px;
    transform: rotate(-1deg);
    z-index: 5;
}

.Seccion_05_Foto_01 {
    position: absolute;
    width: 680px;
    margin-right: 2000px;
    transform: rotate(-1deg);
    z-index: 5;
}

.Seccion_05_Fondo_Foto_02 {
    position: absolute;
    width: 800px;
    margin-top: 700px;
    margin-right: 1900px;
    transform: rotate(2deg);
    z-index: 3;
}

.Seccion_05_Foto_02 {
    position: absolute;
    width: 780px;
    margin-top: 700px;
    margin-right: 1900px;
    transform: rotate(2deg);
    z-index: 3;
}

.Seccion_05_Fondo_Foto_03 {
    position: absolute;
    width: 900px;
    margin-top: 600px;
    margin-left: 2100px;
    transform: rotate(2deg);
    z-index: 3;
}

.Seccion_05_Foto_03 {
    position: absolute;
    width: 880px;
    margin-top: 600px;
    margin-left: 2100px;
    transform: rotate(2deg);
    z-index: 3;
}

/*Seccion 6*/
.Seccion_06 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.Linea_Seccion_06_Superior {
    width: 100%;
    transform: rotate(180deg);
    height: auto;
}

.Linea_Seccion_06_Inferior {
    width: 100%;
    height: auto;
}

.Seccion_06_Degradado {
    position: absolute;
    width: 100%;
    height: 800px;
    opacity: 0.5;
    margin-bottom: 500px;
    z-index: -10;

}

/*Seccion 7*/
.Seccion_07 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #000000;
}

.Seccion_07_Division_01 {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    width: 70%;
}

.Seccion_07_Fondo_Foto_01 {
    position: absolute;
    width: 700px;
    margin-left: 2000px;
    transform: rotate(-1deg);
    z-index: 5;
}

.Seccion_07_Foto_01 {
    position: absolute;
    width: 680px;
    margin-left: 2000px;
    transform: rotate(-1deg);
    z-index: 5;
}

.Seccion_07_Fondo_Foto_02 {
    position: absolute;
    width: 800px;
    margin-top: 700px;
    margin-left: 1900px;
    transform: rotate(2deg);
    z-index: 3;
}

.Seccion_07_Foto_02 {
    position: absolute;
    width: 780px;
    margin-top: 700px;
    margin-left: 1900px;
    transform: rotate(2deg);
    z-index: 3;
}

.Seccion_07_Fondo_Foto_03 {
    position: absolute;
    width: 900px;
    margin-top: 600px;
    margin-right: 2100px;
    transform: rotate(2deg);
    z-index: 3;
}

.Seccion_07_Foto_03 {
    position: absolute;
    width: 880px;
    margin-top: 600px;
    margin-right: 2100px;
    transform: rotate(2deg);
    z-index: 3;
}

/*Seccion 8*/
.Seccion_08 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.Linea_Seccion_08_Superior {
    width: 100%;
    transform: rotate(180deg);
    height: auto;
}

.Linea_Seccion_08_Inferior {
    width: 100%;
    height: auto;
}

.Seccion_08_Degradado_Superior {
    position: absolute;
    width: 100%;
    height: 500px;
    margin-bottom: 650px;
    opacity: 0.5;
    transform: rotate(180deg);
    z-index: 1;
}

.Seccion_08_Degradado_Inferior {
    position: absolute;
    width: 100%;
    height: 500px;
    margin-top: 700px;
    opacity: 0.5;
    z-index: 0;
}

.Seccion_08_Fondo_Foto_01 {
    position: absolute;
    width: 800px;
    margin-top: 700px;
    margin-left: 1900px;
    transform: rotate(-1deg);
    z-index: 3;
}

.Seccion_08_Foto_01 {
    position: absolute;
    width: 780px;
    margin-top: 700px;
    margin-left: 1900px;
    transform: rotate(-1deg);
    z-index: 3;
}

.Seccion_08_Fondo_Foto_02 {
    position: absolute;
    width: 700px;
    margin-bottom: 120px;
    margin-left: 2000px;
    z-index: 2;
}

.Seccion_08_Foto_02 {
    position: absolute;
    width: 680px;
    margin-bottom: 120px;
    margin-left: 2000px;
    z-index: 2;
}

.Seccion_08_Fondo_Foto_03 {
    position: absolute;
    width: 700px;
    margin-top: 600px;
    margin-right: 1800px;
    transform: rotate(-3deg);
    z-index: 3;
}

.Seccion_08_Foto_03 {
    position: absolute;
    width: 680px;
    margin-top: 600px;
    margin-right: 1800px;
    transform: rotate(-3deg);
    z-index: 3;
}

.Seccion_08_Fondo_Foto_04 {
    position: absolute;
    width: 800px;
    margin-bottom: 200px;
    margin-right: 2000px;
    transform: rotate(1deg);
    z-index: 2;
}

.Seccion_08_Foto_04 {
    position: absolute;
    width: 780px;
    margin-bottom: 200px;
    margin-right: 2000px;
    transform: rotate(1deg);
    z-index: 2;
}

.Seccion_08_Cinta_De_Seguridad_01 {
    position: absolute;
    margin-bottom: 1100px;
    width: 1650px;
    z-index: -1;
}

.Seccion_08_Cinta_De_Seguridad_02 {
    position: absolute;
    margin-bottom: 1000px;
    width: 1750px;
    z-index: -2;
}

.Seccion_08_Cinta_De_Seguridad_03 {
    position: absolute;
    width: 1550px;
    z-index: -1;
}

.Seccion_08_Cinta_De_Seguridad_04 {
    position: absolute;
    width: 1550px;
    margin-top: 1000px;
    z-index: -1;
}

.Seccion_08_Mancha_Pintura_01 {
    position: absolute;
    width: 700px;
    margin-bottom: 1100px;
    margin-left: 1000px;
    z-index: -3;
}

.Seccion_08_Mancha_Pintura_02 {
    position: absolute;
    width: 900px;
    margin-top: 800px;
    margin-right: 1200px;
    z-index: -3;
}

/*Seccion 9*/
.Seccion_09 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #000000;
}

.Seccion_09_Division_01 {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    width: 70%;
    z-index: 4;
}

.Subtitulito {
    margin: 10px;
    padding: 0px 10px;
    font-family: 'Bebas Neue';
    color: #000000;
    font-size: 25px;
    list-style-type: none;
}

.Subtitulito li::before {
    content: " ▪ ";
    font-family: 'Bebas Neue';
    font-weight: bold;
    color: #000000;
    font-size: 25px;
    padding-right: 10px;
}

.Subpuntito {
    font-family: 'Roboto';
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    padding: 5px 0px;
    margin: 0px;
    list-style-type: none;
}

.Subpuntito li {
    padding-bottom: 10px;
    padding-left: 25px;
}

.Subpuntito li::before {
    content: " - ";
    font-family: 'Bebas Neue';
    font-weight: bold;
    color: #000000;
    font-size: 20px;
    padding-right: 10px;
}

.Papel_Seccion_09_Division_01 {
    position: absolute;
    width: 100%;
    height: auto;
    margin-bottom: 450px;
    z-index: 0;
}

.Papel_Seccion_09_Division_02 {
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 600px;
    z-index: 0;
}

.Seccion_09_Fondo_Foto_01 {
    position: absolute;
    width: 800px;
    margin-top: 700px;
    margin-left: 1900px;
    transform: rotate(-1deg);
    z-index: 3;
}

.Seccion_09_Foto_01 {
    position: absolute;
    width: 780px;
    margin-top: 700px;
    margin-left: 1900px;
    transform: rotate(-1deg);
    z-index: 3;
}

.Seccion_09_Fondo_Foto_02 {
    position: absolute;
    width: 800px;
    margin-bottom: 300PX;
    margin-left: 2100px;
    transform: rotate(2deg);
    z-index: 3;
}

.Seccion_09_Foto_02 {
    position: absolute;
    width: 780px;
    margin-bottom: 300PX;
    margin-left: 2100px;
    transform: rotate(2deg);
    z-index: 3;
}

.Seccion_09_Fondo_Foto_03 {
    position: absolute;
    width: 800px;
    margin-bottom: 400px;
    margin-right: 1900px;
    transform: rotate(-1deg);
    z-index: 3;
}

.Seccion_09_Foto_03 {
    position: absolute;
    width: 780px;
    margin-bottom: 400px;
    margin-right: 1900px;
    transform: rotate(-1deg);
    z-index: 3;
}

.Seccion_09_Fondo_Foto_04 {
    position: absolute;
    width: 750px;
    margin-top: 600px;
    margin-right: 2000px;
    transform: rotate(3deg);
    z-index: 3;
}

.Seccion_09_Foto_04 {
    position: absolute;
    width: 730px;
    margin-top: 600px;
    margin-right: 2000px;
    transform: rotate(3deg);
    z-index: 3;
}

.Linea_Seccion_10 {
    width: 100%;
    z-index: 2;
}

.Seccion_09_Mancha_Pintura_01 {
    position: absolute;
    width: 600px;
    margin-bottom: 600px;
    margin-left: 1200px;
    z-index: 0;
}

.Seccion_09_Mancha_Pintura_02 {
    position: absolute;
    width: 400px;
    margin-top: 700px;
    margin-right: 1200px;
    transform: rotate(-30deg);
    z-index: 0;
}

/*Seccion 10*/
.Seccion_10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #000000;
    z-index: 2;
}

.Seccion_10_Division_01 {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    width: 70%;
}

.Seccion_10_Fondo_Foto_01 {
    position: absolute;
    width: 700px;
    margin-bottom: 400px;
    margin-left: 2000px;
    transform: rotate(-1deg);
    z-index: 5;
}

.Seccion_10_Foto_01 {
    position: absolute;
    width: 680px;
    margin-bottom: 400px;
    margin-left: 2000px;
    transform: rotate(-1deg);
    z-index: 5;
}

.Seccion_10_Fondo_Foto_02 {
    position: absolute;
    width: 800px;
    margin-top: 300px;
    margin-left: 1900px;
    transform: rotate(2deg);
    z-index: 3;
}

.Seccion_10_Foto_02 {
    position: absolute;
    width: 780px;
    margin-top: 300px;
    margin-left: 1900px;
    transform: rotate(2deg);
    z-index: 3;
}

.Seccion_10_Fondo_Foto_03 {
    position: absolute;
    width: 900px;
    margin-top: 300px;
    margin-right: 2100px;
    transform: rotate(2deg);
    z-index: 6;
}

.Seccion_10_Foto_03 {
    position: absolute;
    width: 880px;
    margin-top: 300px;
    margin-right: 2100px;
    transform: rotate(2deg);
    z-index: 6;
}

/*Seccion 11*/
.Seccion_11 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-image: url(../../Img/Fondo/Fondo_Estilizado.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px -400px;
    position: relative;
}

.Seccion_11_Linea_Inferior {
    width: 100%;
    transform: rotate(180deg);
}

.Seccion_11_Division_01 {
    display: flex;
    width: 100%;
    height: 200px;
}

.Seccion_11_Division_02 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 125px;
}

.Seccion_11_Linea_01 {
    position: absolute;
    width: 110%;
    transform: rotate(-2deg);
    z-index: 1;
}

.Seccion_11_Linea_02 {
    position: absolute;
    width: 110%;
    margin-bottom: 320px;
    transform: rotate(180deg);
    z-index: 10;
}

.Seccion_11_Fondo_Foto_01 {
    display: flex;
    position: absolute;
    width: 600px;
    margin-top: 350px;
    margin-right: 1000px;
    transform: rotate(2deg);
    z-index: 0;
}

.Seccion_11_Foto_01 {
    display: flex;
    position: absolute;
    width: 580px;
    margin-top: 350px;
    margin-right: 1000px;
    transform: rotate(2deg);
    z-index: 0;
}

.Seccion_11_Fondo_Foto_02 {
    display: flex;
    position: absolute;
    width: 500px;
    margin-bottom: 300px;
    margin-left: 1400px;
    transform: rotate(-3deg);
    z-index: 0;
}

.Seccion_11_Foto_02 {
    display: flex;
    position: absolute;
    width: 480px;
    margin-bottom: 300px;
    margin-left: 1400px;
    transform: rotate(-3deg);
    z-index: 0;
}

.Seccion_11_Fondo_Foto_03 {
    display: flex;
    position: absolute;
    width: 550px;
    margin-top: 200px;
    margin-left: 1600px;
    transform: rotate(1deg);
    z-index: 0;
}

.Seccion_11_Foto_03 {
    display: flex;
    position: absolute;
    width: 530px;
    margin-top: 200px;
    margin-left: 1600px;
    transform: rotate(1deg);
    z-index: 0;
}

.Seccion_11_Cinta_De_Seguridad_01 {
    position: absolute;
    margin-top: 270px;
    margin-left: 300px;
    width: 1300px;
    z-index: 0;
}

.Seccion_11_Cinta_De_Seguridad_02 {
    position: absolute;
    margin-top: 300px;
    margin-right: 750px;
    width: 1500px;
    transform: rotate(-6deg);
    z-index: 0;
}

.Seccion_11_Cinta_De_Seguridad_03 {
    position: absolute;
    margin-bottom: 280px;
    margin-right: 750px;
    width: 1400px;
    z-index: 0;
}

/*Seccion 14*/
.Seccion_14 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 575px;
    margin: 0px;
    padding: 0px;
}

.Seccion_14_Division_01 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 575px;
    margin: 0px;
    padding: 0px;
    z-index: 3;
}

.Seccion_14_Papel {
    position: absolute;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    z-index: 1;
}

.Formulario_Seccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 70%;
    height: 85%;
    border-radius: 30px;
    background-color: #000000;
    z-index: 2;
}

.Division_14 {
    display: flex;
    width: 100%;
    height: 12%;
    font-family: 'Bebas Neue';
    color: #ffffff;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

.Formulario {
    display: flex;
    width: 70%;
    height: 88%;
    font-family: 'Roboto';
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Roboto';
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0px;
}

.input-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.input {
    display: flex;
    width: 700px;
    height: 35px;
    border: 3px solid #ffffff;
    border-radius: 35px;
    background: transparent;
    padding: 10px 30px;
    color: #ffffff;
    font-family: 'Roboto';
}

label {
    display: flex;
    position: absolute;
    left: 30px;
    top: 20px;
    font-size: 16px;
    color: #ffffff;
    font-family: 'Roboto';
    transition: 0.3s;
}

textarea {
    display: flex;
    width: 700px;
    height: 80px;
    border: 3px solid #ffffff;
    border-radius: 35px;
    background: transparent;
    padding: 20px 30px;
    color: #ffffff;
    font-family: 'Roboto';
    resize: none;
}

.boton_enviar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 40px;
    background: #ffffff;
    color: #000;
    font-family: 'Bebas Neue';
    border: none;
    border-radius: 20px;
    font-size: 16px;
    transition: 0.3s;
}

.boton_enviar:hover {
    transform: scale(1.1);
}

.Seccion_14_Division {
    position: absolute;
    display: flex;
    width: 100%;
    height: 150px;
    align-items: end;
    justify-content: end;
    margin-top: 50px;
}

.Seccion_14_Cinta_Negra_01 {
    position: absolute;
    width: 200px;
    margin-top: 100px;
    margin-right: 1500px;
    z-index: 6;
}

.Seccion_14_Cinta_Negra_02 {
    position: absolute;
    width: 80px;
    margin-bottom: 100px;
    margin-left: 1440px;
    z-index: 3;
}

/*Footer*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 220px;
    background-image: url(../../Img/Fondo/Linea_Diagonal.png);
    background-repeat: repeat;
    z-index: 100;
}

.Footer_Nombre {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding-top: 10px;


}

.Nombre {
    font-family: 'Bebas Neue';
    color: #ffffff;
    font-size: 30px;
}

.Nombre_Linea {
    display: flex;
    width: 100%;
    height: 20px;
    align-items: center;
    justify-content: center;
}

.Linea {
    display: flex;
    width: 120px;
    height: 8px;
    border-radius: 4px;
    background-color: #ffffff;
    margin: 0px 10px;
}

.Redes {
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.Facebook {
    display: flex;
    width: 30px;
    transition: transform 0.3s;
    margin: 10px;
    cursor: pointer;
}

.Facebook:hover {
    transform: scale(1.1);
}

.Nintendo {
    display: flex;
    width: 50px;
    transition: transform 0.3s;
    margin: 10px;
    cursor: pointer;
}

.Nintendo:hover {
    transform: scale(1.1);
}

.Twitter {
    display: flex;
    width: 30px;
    transition: transform 0.3s;
    margin: 10px;
    cursor: pointer;
}

.Twitter:hover {
    transform: scale(1.1);
}

.Atribuciones {
    display: flex;
    width: 100%;
    height: 80px;
    font-size: 15px;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #000000;
}